
<!------------- HEADER --------------->
<!-- >
Auther: Yutaro Watanabe
Changing Log
- First issued on Aug 27 2018
- List view was added on Sep 4 2018
- Header was added on Sep 11 2018
<------------------------------------->

{% extends 'base.html' %}


{% block breadcrumb %}
  <h1 class="breadcrumb-item active">Question</h1>
{% endblock %}


<!-- Content -->
{% block content %}

	<!-- Main Question -->
	<h2>{{ question.question_text }}</h2>

	<br>

	<!-- Question description -->
	<p>{{ question.description|linebreaksbr }}</p><br>

	<hr size=5px color=gray><br>

	<h2>Choose your answer</h2>


	<!-- Error message
	If is_error then show "You didn't select a choice." -->
	{% if error_message %}
		<p><strong>{{ error_message }}</strong></p>
	{% endif %}

	{% if question.choice_set is None %}
		<p>There is a choice.</p>
		<p>{{ question.choice_set }}</p>
	{% endif %}	

	<!-- Choices are here -->
	<form action="{% url 'polls:result' question.id %}" method="post" required>
		{% csrf_token %}
		{% for choice in question.choice_set.all %}
		    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
		    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
		{% endfor %}<br>

		<input type="submit" value="Submit">
	</form><br>

	<hr size=5px color=gray>

	<!-- Descriptive answer form is here -->
	{% if user.is_superuser %}
	<div class="post">
		<form action="{% url 'polls:your_answer' question.id %}" method="post">
			<h2>Posted Comments</h2>
			<!-- Show posted comment repeatedly -->
		    {% for com in question.comment_set.all %}
		    	<!-- Show posted content indivisually -->
				<h3>{{ com.name }}</h3>
				<p>{{ com.text }}</p>
				<p>{{ com.score }}</p>
				<p>solution is {{ question.solution_set.get }}</p>
				<p>{{ com.created_at }}</p><br>
			{% endfor %}
			<br>
			<!-- Answer form -->
			{% csrf_token %}
		    {{ form.as_p }}
	    	<input type="submit" name="submit" value="Submit!">
		</form>
	</div>
	{% endif %}

	{% endblock %}

