
<!------------- HEADER --------------->
<!-- >
Auther: Yutaro Watanabe
Changing Log
- First issued on Aug 27 2018
- List view was added on Sep 4 2018
- Header was added on Sep 11 2018
<------------------------------------->

{% extends 'base.html' %}


{% block breadcrumb %}
  <h1 class="breadcrumb-item active">Question-{{ question.id }}</h1>
{% endblock %}


<!-- Content -->
{% block content %}

	<!--set froms.py example -->

	<form action="{% url 'polls:vote' question.id %}" method="post">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <input type="submit" name="submit" value="Submit!">
	</form>

{% endblock %}