
<!------------- HEADER --------------->
<!-- >
Auther: Yutaro Watanabe
Changing Log
- First issued on Aug 27 2018
- List view was added on Sep 4 2018
- Header was added on Sep 11 2018
<------------------------------------->

{% extends 'base.html' %}


{% block breadcrumb %}
  <h1 class="breadcrumb-item active">Question-{{ question.id }}</h1>
{% endblock %}


<!-- Content -->
{% block content %}
<h2>{{ question.question_text }}</h2>

	<br>
	<p>{{ question.description|linebreaksbr }}</p><br>

	{% if error_message %}
		<p><strong>{{ error_message }}</strong></p>
	{% endif %}

	<!--set froms.py example -->

	<form action="{% url 'polls:post_edit' question.id %}" method="post">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <input type="submit" name="submit" value="Submit!">
	</form>

{% endblock %}