<!------------- HEADER --------------->
<!-- >
Auther: Yutaro Watanabe
Changing Log
- First issued on Aug 27 2018
- List view was added on Sep 4 2018
<------------------------------------->

{% extends 'base.html' %}


{% block breadcrumb %}
  <h1 class="breadcrumb-item active">{{ "Questions" }}</h1>
{% endblock %}

<!-- Content -->
{% block content %}
    {% if question_list %}
        <table>
            <thead>
                <tr>
                    <th>Week</th>
                    <th>Question</th>
                    <th>Description</th>
                    <th>Release Date</th>
                </tr>
            </thead>
            
            <tbody>
                {% for question in question_list %}
                    <tr>
                        <td>{{ question.week_num }}</td> 
                        <td><a href="{% url 'polls:question_detail' question.id %}"> {{ question.question_text }} </a></td>
                        <td>{{ question.description }}</td> 
                        <td>{{ question.release_date }}</td> 
                        <!--comment: need to hide time from datetime data-->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock %}

