<!------------- HEADER --------------->
<!-- >
Auther: Yutaro Watanabe
Changing Log
- First issued on Aug 27 2018
- List view was added on Sep 4 2018
<------------------------------------->

{% extends 'base.html' %}

<!-- Content -->
{% block content %}
    
    <!-- Main Question -->
    <h2>{{ question.question_text }}</h2>
    <!-- Question description -->
    <p>{{ question.description|linebreaksbr }}</p><br>
    {% block question %}
    {% endblock question %}

    <!-- judgement and result -->
    {% if correct_message %}
        <p>{{ user_name }}</p>
        <p><strong>{{ correct_message }}</strong></p>
        <li><strong>Score: {{ score }}</strong></li>
        <li>Selected Choice:  <strong>{{ selected_choice }}</strong></li>
        <li>Answer:  <strong>{{ answer }}</strong></li>
        <li>Description: {{ answer_description }}</li>
    {% elif incorrect_message %}
        <p><strong>{{ incorrect_message }}</strong></p>
        <li>Selected Choice:  <strong>{{ selected_choice }}</strong></li>
        <li>Answer:  <strong>{{ answer }}</strong></li>
    {% endif %}<br>

    <!-- posted comment -->
    {% if user.is_superuser %}
    <div class="post">
        <h2>Posted Comments</h2>
        <!-- Show posted comment repeatedly -->
        {% for com in question.comment_set.all %}
            <!-- Show posted content indivisually -->
            <br>
            <h3>{{ com.name }}</h3>
            <p>{{ com.text }}</p>
            <p>{{ com.score }}</p>
            <p>solution is {{ question.solution_set.get }}</p>
            <p>{{ com.created_at }}</p>
        {% endfor %}
        <br>
    </div>
    {% endif %}


    <!-- pagenate button -->
    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a href="#" class="active">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">&raquo;</a>
        <!-- <a href="{% url 'polls:index' %}">Return</a> -->
    </div>
{% endblock content %}
