<!------------- HEADER --------------->
<!-- >
Auther: Yutaro Watanabe
Changing Log
- First issued on Aug 27 2018
- List view was added on Sep 4 2018
<------------------------------------->


<!--stylesheet load-->
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/login.css' %}" />

<!-- Header -->
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}e-Learning{% endblock %}</title>
    </head>

    <body>
        <div id="header">
            <div id="branding">
                <h1 id="site-name"><a href="/">e-Learning</a></h1>
            </div>
        </div>
        <!-- END Header -->
        <div class="content container">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>